{% extends 'root.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            
            <div class="col-4">
                <div class="left-side">
                    <div class="user-photo">
                        <img src="" alt="user photo">
                    </div>
                    <div class="buttons">
                        <button>Добавить в друзья</button>
                        <button>Отправить сообщение</button>
                        <button>Отправить подарок</button>
                        <p>Занести в черный список</p>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="right-side">

                    <div class="descript">
                        <p class="descript-head">Профиль пользователя <b>user</b></p>
                        <div class="row">

                            <div class="col-6">
                                <p class="descript-desc">Описание</p>
                                <p class="descript-desc-text"></p>
                            </div>
                            <div class="col-6">
                                <p class="descript-desc">Статистика</p>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="stat">
                                            <p>Друзья: <b>0</b></p>
                                            <p>Подарки: <b>0</b></p>
                                            <p>Просмотры: <b>0</b></p>
                                            <p>♥ <b>0</b></p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="award">
                                            <img src="" alt="" class="award-pic">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="music-space">
                        <p class="music-head">Сейчас играет</p>
                        <div class="music-run">
                            <div class="music-anim">
                                <img src="{% static 'pic/default_pics/default_singer.png' %}" alt="singer">
                                <p><b>Исполнитель</b> - Песня</p>
                            </div>
                        </div>
                    </div>

                    <div class="gallery-space">
                        <p class="gallery-head">Галерея</p>
                        <div class="gallery-pics-space">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}